body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    z-index: -3;
    background-image: url('background.png');
    background-size: contain;
    background-position: center center;
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.container > div {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.container > .form::before {
    content: "";
    background-image: url('spidey.png');
    background-repeat: no-repeat;
    position: absolute;
    top: -90%;
    right: -15%;
    width: 100px;
    height: 100px;
    z-index: 1;
}
